* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
  padding: 100px;
}

.box-sm {

}

.box-md {

}

.box-lg{

}

.border{

}

#yellow {
  background-color: yellow;
  width: 100%;
  height: 216px;
  margin: auto;
  padding: 50px 0;
}

#red {
  background-color: red;
  border: 8px solid black;
  border-radius: 5px;
  width: 75%;
  height: 100px;
  margin: auto;
  padding: 50px 0;
}

#blue{
  background-color: lightblue;
  width: 90%;
  height: 100px;
  margin: auto;
}
